[submodule "submodules/EnergyPlus"]
	path = submodules/EnergyPlus
	url = https://github.com/NREL/EnergyPlus.git
[submodule "submodules/modelica-buildings"]
	path = submodules/modelica-buildings
	url = https://github.com/lbl-srg/modelica-buildings.git
